/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 *= require font-awesome

 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 全体 */
body {
  display: flex;
}

.nav {
  background-color: #333333;
  height: 100vh;
  width: 27vw;
  display: block;
}

.nav-menu {
  margin: 0 0 0 70px;
  
}

.nav-menu a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 23px;
  font-weight: bold;
}

.nav-menu a:hover {
  background-color: #333366;
  color: #6699FF;
}

.nav-link {
  margin: 40px 0;
}

.tweet-link a {
  text-decoration: none;
  color: white;
  padding: 10px 60px;
  border-radius: 25px;
  font-size: 22px;
  font-weight: bold;
  background-color: #0099FF;
}

.tweet-link a:hover {
  background-color: #0099CC;
  color: white;
}

.main {
  width: 45vw;
  background-color: #333333;
  border-left: #666666 solid 1px;
  border-right: #666666 solid 1px;
}

.right-nav {
  width: 28vw;
  background-color: #333333;
}

.home-header {
  position: sticky;
  z-index: 100;
  border-bottom: #666666 solid 1px;
}

.home {
  display: flex;
  color: white;
  font-size: 23px;
  font-weight: bold;
  align-items: center;
  margin: 15px;
}

.tweets {
  overflow: scroll;
  max-height: calc(100vh - 53px);
}

.user-icon {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  background-color: #89baeb;
  width: 1em;
  height: 1em;
  font-size: 50px;
  overflow: hidden;
  margin: 10px 15px;
}

.user-icon::before,
.user-icon::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: #3388dd;
    content: "";
}
.user-icon::before {
    top: 0.15em;
    width: 0.4em;
    height: 0.4em;
}
.user-icon::after {
    bottom: -0.4em;
    width: 0.8em;
    height: 0.8em;
}

.tweet {
  min-height: 130px;
  border-bottom: solid #666666 10px;
}

.home-tweet {
  display: flex;
  color: aliceblue;
}

.tweet-form {
  margin-top: 25px;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
}

.tweet-send {
  color: aliceblue;
  margin: 15px 15px 15px 0;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 25px;
  background-color: #3388dd;
  border-radius: 30px;
  width: 150px;
  border: none;
  outline: none;
  cursor: pointer;
}

.one-tweet {
  border-bottom: #666666 solid 1px;
  padding: 0 0 10px 0;
}

.tweet-user {
  display: flex;
}

.name-tweet {
  max-width: 550px;
}

.user-name {
  margin: 12px 0;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.tweet-text {
  color: white;
  font-size: 16px;
}

.back-btn {
  margin-right: 30px;
  color: #0099CC;
  font-weight: bold;
  text-decoration: none;
  border-radius: 50%;
  padding: 10px;
}

.back-btn:hover {
  background-color: #333366;
}

.show-home {
  display: flex;
  color: white;
  font-size: 23px;
  font-weight: bold;
  align-items: center;
  margin: 5px 15px;
}

.show-link {
  text-decoration: none !important;
}

.tweet-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-btn {
  margin-left: 100px;
  font-size: 20px;
  color: white;
}

.tweet-image {
  background-color: #666666;
  width: 540px;
  max-height: 350px;
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.show-tweet-image {
  background-color: #666666;
  width: 540px;
  max-height: 100%;
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
}